= content_for :head do
  = stylesheet_link_tag :superuser
  = javascript_include_tag :raxa
  = javascript_include_tag :superuser

%h2 Superuser Dashboard

%h3 Statistics by Stage
%p Click a department to show additional details.

%div#dept-loads
  = render :partial => 'superuser/dept_loads',
           :locals => {:reg_time => @reg_time, :pharm_time => @pharm_time,
                        :screen_time => @screen_time}
