= content_for :head do
  = stylesheet_link_tag :superuser
  = javascript_include_tag :raxa
  = javascript_include_tag :superuser

= content_for :title do
  Superuser

= content_for :subtitle do
  Hospital Overview Dashboard

= content_for :content do
  %svg#patients-timelines
  %h3 Statistics by Stage
  %ul
  - @departments.each do |dep|
    %li= link_to dep.name, superuser_department_path(dep.id)
