= content_for :head do
  = stylesheet_link_tag :screener
  = javascript_include_tag :raxa
  = javascript_include_tag :screener

= content_for :title do
  Screening Dashboard

= content_for :content do
  %div.left
    - if @filtering
      = "Showing only doctors with specialty: #{@specialty.name}"
    %table#doctors
      %thead
        %tr
          %th Doctor
          %th Specialties
          %th Workload
      %tbody
        - @sorted_doctors.each do |doctor|
          - percent = [doctor.workload, 5].max
          %tr{:id => "doctor-#{doctor.id}"}
            %td.doctor_name<
              = doctor.name
            %td<
              = doctor.specialty_names.join(', ')
            %td
              %span.bar-container
                %span.bar-text<
                  = "#{doctor.num_patients} / #{doctor.max_workload}"
                %span.bar{:style => "width: #{percent}%",
                          :data => {:percent => percent},}<
                  = '&nbsp;'.html_safe
  %div.right
    %div#rightbar
      %div.stat
        %div.bignum#patients_left<
          = @patients_left
        = "#{'patient'.pluralize(@patients_left)} to assign"
      %div#department_chooser
        Filter by department:
        %br
        = form_tag screener_path, :method => :get do
          = select_tag :specialty, options_from_collection_for_select(@specialties, "id", "name", @specialty ? @specialty.id : nil), :id => :department_select
          = submit_tag nil, :id => :filter_submit
        - if @filtering
          = link_to "Clear filtering", screener_path
