%h3 Registered patients

%table#registered
  %thead
    %tr
      %th Time Completed
      %th Patient
      %th Status
  %tbody
    - registrations_and_divs.each do |regs_by_date|
      - if regs_by_date[:date]
        %tr
          %td.divider{:colspan => 3}
            %div
              %span{:title => regs_by_date[:date]}= regs_by_date[:date]
      -regs_by_date[:regs].each do |registration|
        %tr
          %td= registration.time_end.localtime.strftime('%l:%M %P')
          %td= registration.patient.name
          %td= registration.patient_status
    - unless full
      %tr
        %td.divider{:colspan => 3}
          %div
            %span
              = link_to 'See more', self.url_for(:full => 'full')
