= content_for :head do
  = stylesheet_link_tag :registrars
  = javascript_include_tag :raxa
  = javascript_include_tag :registrars

%h2 Dashboard for Jacob Doe
%div.rightbar
  = render :partial => 'registrars/rightbar',
           :locals => {:num_today => @num_today, :average_time => @average_time, :registrar => @registrar}
%h3 Registered patients
%table#registered
  %tr
    %th Date
    %th Patient
    %th Status
  %tr
    %td 2:40 pm
    %td Professor Plum
    %td returning
  %tr
    %td 2:40 pm
    %td Professor Plum
    %td new
  %tr
    %td.divider{:colspan => 3}
      %div
        -# please change the title attribute of the next line
        %span{:title => "October 24, 2012"} Yesterday
  %tr
    %td 2:40 pm
    %td Professor Plum
    %td new
  %tr
    %td 2:40 pm
    %td Professor Plum
    %td new
  %tr
    %td 2:40 pm
    %td Professor Plum
    %td new
  %tr
    %td.divider{:colspan => 3}
      %div
        -# please change the title attribute of the next line
        %span{:title => "October 23, 2012"} October 23, 2012
  %tr
    %td 2:40 pm
    %td Professor Plum
    %td new
  %tr
    %td 2:40 pm
    %td Professor Plum
    %td new
  %tr
    %td.divider{:colspan => 3}
      %div
        -# please change the title attribute of the next line
        %span
          %a{:href => '#'} See more

%div.bigTimeGraph
  - if (registrar_history = @registrar.time_aggregated_registrations(22.years, 1.week))
    %svg{:id => "bigTimeGraph-#{@registrar.id}", 'data-points' => registrar_history.to_json}
  - else
    %span.MissingRegistrations No Registrations

