= content_for :head do
  = stylesheet_link_tag :departments
  = javascript_include_tag :raxa
  = javascript_include_tag :departments

%h2= "#{@department.name} statistics"

%h3 Performance history
#box_plot{'data-points' => @department_history.to_json}

-if (@average_time.to_i == 0)
  %h3= "No #{@department.name} history available" 
-else 
  %h3= "Average time per #{@department.name} visit is: #{@average_time}"
