%h1 Modules

%ul.modules
  %li
    = link_to pharmacy_path do
      = image_tag 'pharmacy.png', :alt => 'Pharmacy', :width => 144, :height => 144
  %li
    = link_to screener_path do
      = image_tag 'screener.png', :alt => 'Screener', :width => 144, :height => 144
  %li
    = link_to registration_path do
      = image_tag 'registration.png', :alt => 'Registration', :width => 144, :height => 144
  %li
    = link_to superuser_path do
      = image_tag 'superuser.png', :alt => 'Superuser', :width => 144, :height => 144
