= content_for :head do
  = stylesheet_link_tag :pharmacy
  = javascript_include_tag("d3.v2.min.js")
  = javascript_include_tag :raxa
  = javascript_include_tag :pharmacy

:javascript
  $(document).ready(function() {
    pharmacy = new Pharmacy();
    pharmacy.init();
  });

%div#notices

%h1 Pharmacy stock
%p Click a row to show additional details and options.
%table#drugs
  %thead
    %tr
      %th Name
      %th Time left
      %th History
  - @drugs.each do |drug|
    = render :partial => 'pharmacy/drug_edit', :locals => {:drug => drug}
