<!DOCTYPE html5>
%html
  %head
    %title Raxa Visualizations
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

%body
  %header
    %div.title
      = link_to 'Raxa Visualizations', root_path

  %div#notices
    - if flash[:notice]
      %div.notice
        = flash[:notice]

  %div.wrapper
    = yield
