<!DOCTYPE html5>
%html
  %head
    %title Raxa Visualizations
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro'
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

%body
  %header
    %div.title
      = link_to 'Raxa Visualizations', root_path

  %div#notices<
    - if flash[:notice]
      %div.notice
        = flash[:notice]

  %div.wrapper
    %h2<
      = yield :title
    %h3<
      = yield :subtitle

    - if content_for? :content
      %hr
      %div#content
        = yield :content
        %div.clear
      %hr
    - else
      =yield
