<!DOCTYPE html5>
%html
  %head
    %title Raxa Visualizations
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  %header
    .title= link_to 'Raxa Visualizations', root_path
    - if flash[:notice]
      .noticeContainer
        %span.notice= flash[:notice]

  %div.wrapper
    = yield
